.header {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        .menu {
            display: none;
            @media (max-width: 648px) {
                display: block;
            }
        }
        
        li, a {
            list-style-type: none;
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: 550;
            transition: color 0.3s ease;
            &:hover {
                color: #ff6600;
                text-decoration: underline;
            }
        }
        
        .collection {
            display: flex;
            align-items: center;
            gap: 20px;
            
            .logo {
                cursor: pointer;
                display: flex;
                margin-right: 30px;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
            
            li {
                @media (max-width: 1320px) {
                    display: none;
                }
            }
        }
        
        .icons {
            display: flex;
            gap: 20px;
            align-items: center;
            
            @media (max-width: 648px) {
                display: none;
            }
            
            .icon {
                cursor: pointer;
                font-size: 26px;
                transition: color 0.3s ease, transform 0.3s ease;
                &:hover {
                    color: #ff6600;
                    transform: rotate(15deg);
                }
            }
        }
    }
}